<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mybatis.mapper.LockMapper">
	<!--自定义返回类型 -->
	<resultMap type="LockBean" id="lockMap">
		<id property="id" column="id" javaType="java.lang.Integer" />
		<result property="lock" column="lock_name" javaType="java.lang.String" />
	</resultMap>

	<!--自定义返回类型 -->
	<resultMap type="LockBean" id="lockAndKeysMap"></resultMap>
</mapper>